<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.velkonost.lume">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera2" android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ru.velkonost.lume.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ProfileActivity"
                  android:theme="@style/AppTheme"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.SearchActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.ContactsActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.FullScreenPhotoActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.SettingsActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.DialogsActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.MessageActivity"
                  android:windowSoftInputMode="stateHidden|adjustResize"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.BoardsListActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.BoardWelcomeActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.BoardParticipantsActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.BoardColumnsActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.BoardCardActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activity.CardParticipantsActivity"
                  android:screenOrientation="portrait"/>

    </application>

</manifest>
